@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-baloo;
}

.title {
  @apply text-3xl font-bold;
}

.form {
  @apply flex w-96 flex-col gap-6 rounded-xl border border-border bg-backgroundSecondary p-6;
}

#root {
  @apply flex min-h-svh flex-col gap-5 p-6;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-gray-8;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-9;
}

*::-webkit-scrollbar-corner {
  @apply hidden;
}

.cm-editor * {
  font-family: "Cascadia Mono";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.ͼ1 .cm-content {
  @apply p-0;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  @apply flex min-w-full items-center justify-center px-2;
}

.ͼ1 .cm-gutter {
  @apply min-w-[34.75px];
}

.ͼ1.cm-focused {
  @apply outline-none;
}

.ͼ1 .cm-line {
  @apply px-2;
}
