@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Baloo Da 2";
}

.title {
  @apply text-3xl font-bold;
}

#root {
  @apply flex min-h-svh flex-col gap-5 p-6;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-gray-8;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-9;
}
